<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Basic App</title>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index'%}" class="navbar-brand">Brand</a></li>
                <li><a href="{% url 'other'%}" class="navbar-link">Other</a></li>
                <li><a href="{% url 'admin:index'%}" class="navbar-link">Admin</a></li>
            </ul>
        </div>
    </nav>    

    <!-- Content -->
    <div class="container">
        {% block body_block %}


        {% endblock %}
    </div>

</body>
</html>